<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.kindstrom.senderremote">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".presentation.SenderRemoteApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.view.activity.GroupListActivity"
            android:label="@string/group_list_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.view.activity.SenderListActivity" />
        <activity android:name=".presentation.view.activity.CommandListActivity" />
        <activity
            android:name=".presentation.view.activity.GroupCreateActivity"
            android:label="@string/group_create_label" />
        <activity
            android:name=".presentation.view.activity.SenderCreateActivity"
            android:label="@string/sender_create_label" />
        <activity
            android:name=".presentation.view.activity.PortNamingActivity"
            android:label="@string/port_naming_label" />
    </application>

</manifest>
